@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
html,
body {
  font-family: 'Parkinsans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.half_2,
.half_1 {
  width: 300px;
  height: auto;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-size: 25px;
  padding: 50px 50px 0 50px;
}
#vs {
  margin-top: 20%;
  font-size: 50px;
  border: 3px solid black;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 50%;
}
.has {
  font-weight: 400;
  font-size: smaller;
}
.number-1,
.number-2 {
  font-size: xx-large;
  color: brown;
}
#name-1,
#name-2 {
  font-size: 45px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 300px;
  border: 2px solid red;
}
.bn16 {
  width: 100px;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #180202;
  display: inline-block;
  padding: 10px 50px 10px 40px;
  position: relative;
  border: 3px solid #090909;
  border-radius: 25px;
}
@media screen {
}
